@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="app-title">FreeToGameExplorer</span>

            <a href="https://www.freetogame.com/api-doc" target="_blank">
                API Docs
            </a>
        </div>

        <article class="content px-4 main-content">
            @Body
        </article>
    </main>
</div>
